<div class="container">
	<div class="col-md-6">
	<div class="col-md-12 alert alert-info" width="324px">
	<h3>Ways to contact InTread</h3>
		<p><ul>
			<li>Fill out the contact form to the right</li><li>E-mail intreadisu@gmail.com</li><li>Follow us on <a href="https://www.facebook.com/InTreadISU/">Facebook </a>at Facebook.com/intreadisu </li><li>Use the information below to contact a representative directly</li>
		</ul>
		</p>
		
</div>
		<div class="col-md-6 alert alert-success">
			Tate Huckstadt
			<br />
			tatehuck@iastate.edu
		</div>
		<div class="col-md-6 alert alert-success">
		Joe Kleckler
			<br />jakleckl@iastate.edu
			</div>
		<div class="col-md-12">
		<br />
	</div>
		
		<div class="col-md-6 alert alert-success">
			Vicky Ralph<br />
			vralph@iastate.edu
		</div>
		<div class="col-md-6 alert alert-success">
			Izac Roberts<br />iroberts@iastate.edu
		</div>
		<div class="col-md-12">
		<br />
	</div>
		
		<div class="col-md-6 alert alert-success">
			Tyler Weber<br />tdweber@iastate.edu
		</div>
		<div class="col-md-6">
			
		</div>
		<div class="col-md-12">
		<br />
	</div>

		
	</div>
	<div class="col-md-6">
		<contact></contact>
	</div>
</div>