<div class="container">
		
		<div class="col-md-4  alert alert-info">
			<div id="logo" class="inner">
				<br />
				<img class="center" src="app/general/bikelogo.png" alt="In Tread"/>
				<br/>
			</div>
		</div>
		
		<div class="col-md-8 alert alert-info">
			<img src="app/general/mission.png" alt="Mission">
			<!-- <div class="alert alert-success">
				<h3 class="header">Mission Statement</h3>
				<ul>
					<li>At Intread, we value the ability to travel independently without stress of time-consuming schedules.</li>
					<li>Our Mission is to provide convenient transportation alternatives for both leisure and expedited use at an affordable price.</li>
				</ul>
				<h4 class="center"> Simple Quick Green</h4>
			</div>  -->
		</div>
		<div class="col-md-12">
		<br />
		</div>
			
		<div class="col-md-12 alert alert-info">
			
			<img width="324px" class="center" src="app/general/issue.png" alt="">
		</div>
</div>
